/*
Plugin: jQuery Parallax
Version 1.1.3
Author: Ian Lunn
Twitter: @IanLunn
Author URL: http://www.ianlunn.co.uk/
Plugin URL: http://www.ianlunn.co.uk/plugins/jquery-parallax/

License: http://creativecommons.org/licenses/by-sa/3.0/ (Attribution Share Alike). Please attribute work to Ian Lunn simply by leaving these comments in the source code or if you'd prefer, place a link on your website to http://www.ianlunn.co.uk/.
*/

@charset "utf-8";
/* CSS Document */

body{
	margin: 0;
	min-width: 980px;
	padding: 0;
}

.toe {
    position:absolute;
    bottom:-300%;
    padding-top:20px;
    width:100%;
    background-color:#ededed;
    height:100px;
    text-align:center;
    margin:0;
    -webkit-box-shadow: inset 0px 10px 0px 0px #6441a5;
    -moz-box-shadow: inset 0px 10px 0px 0px #6441a5;
    box-shadow: inset 0px 10px 0px 0px #6441a5;
    align-content:center;
}

.stub {
    padding:10px;
    color:#6441a5;
    padding:0px;
    text-align:center;
    align-content:center;

    display: inline-block;
    display: table;
    width: 50%;
    margin: 0 auto;
}

hr.horizontalRule {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #6441a5, rgba(0, 0, 0, 0));
}

.fl {
  float: left;    color:#6441a5;
  text-align:left;
}
.fr {
  float: right;    color:#6441a5;
  text-align:right;
}

.footer {
    padding-top:5px;
    width:100%;
    background-color:#ededed;
    height:450px;
    text-align:center;
    -webkit-box-shadow: inset 0px 10px 0px 0px #6441a5;
    -moz-box-shadow: inset 0px 10px 0px 0px #6441a5;
    box-shadow: inset 0px 10px 0px 0px #6441a5;
    align-content:center;
}
    .footer .h1 {
        font-family:"Beau Sans Pro Book", Verdana, sans-serif;
	    font-size-adjust:0.531;
	    font-weight:500;
	    font-style:normal;

    }
    .footer p {
        font-family:"Proxima Nova Light", 'Helvetica Neue', Arial, Helvetica, sans-serif;
	    font-size-adjust:0.531;
	    font-weight:500;
	    font-style:normal;

    }

.container {
    background-color:rgba(0,0,0,0.8);
    width:150%;
    padding:20px;
    height:100%;
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Safari */
    transform: rotate(-45deg);
    text-align:justify;
}

.textbox {
    position:absolute;
    top:20%;
    left:40%;
    width:20%;
    height:50%;
    padding:20px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari */
    transform: rotate(45deg);

}
#third .triangle-topleft.triangle-topleft {
    float:left;
    position:absolute;
    top:0;
    left:0px;
	width: 0;
	height: 0;
	border-top: 33vw solid #6441a5;
	border-right: 33vw solid transparent;
}
#third .triangle-bottomright.triangle-bottomright {
    float:right;
    position:absolute;
    bottom:0;
    right:0px;
	width: 0;
	height: 0;
	border-bottom: 33vw solid #6441a5;
	border-left: 33vw solid transparent;
}



p{
	font-family:"Proxima Nova Light", 'Helvetica Neue', Arial, Helvetica, sans-serif;
	margin: 0 0 20px 0;
}

p, ul{
	font-family:"Proxima Nova Light", 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size-adjust:0.488;
	font-weight:200;
	font-style:normal;
}

#logitech {
    float:left;
    background-image:url("img/logitech.png");
    width:189px;
    height:32px;
}
    #logitech:hover {
    background-image:url("img/logitech_hover.png");
    width:189px;
    height:32px;
    }

    #twitch {
    float:left;
    background-image:url("img/twitch_idle.png");
    width:189px;
    height:35px;
}
    #twitch:hover {
    background-image:url("img/twitch_hover.png");
    width:189px;
    height:35px;
    }


img{
	border: 0;
}

p, .pearl {
    color:#ededed;
	font-family:"Museo 900", Verdana, serif;
	font-size-adjust:0.40;
	font-weight:200;
	font-style:oblique;
}

h1, #pixels{
	font-family:"Museo 900", Verdana, serif;
	font-size-adjust:0.40;
	font-weight:700;
	font-style:normal;
}

h1, #green {
    color:#6441a5;
	font-family:"Museo 900", Verdana, serif;
	font-size-adjust:0.40;
	font-weight:700;
	font-style:normal;
}

h2{
	font-family:"Beau Sans Pro Book", Verdana, sans-serif;
	font-size-adjust:0.531;
	font-weight:500;
	font-style:normal;
}

h2, #green {
    color:#6441a5;
	font-family:"Beau Sans Pro Book", Verdana, sans-serif;
	font-size-adjust:0.531;
	font-weight:700;
	font-style:normal;
}

#header h1, #pixels{
	color: #48941A;
}

.float-left{
	float: left;
	margin: 0 0 0 20px;
}

.float-right{
	float: right;
	margin: 0 20px 0 0;
}

.center{
	font-size: 2.5em;
	padding: 80px 0 0 0;
	text-align: center;
}

#nav{
    z-index:1;
	list-style: none;
	position: fixed;
	left: 0px;
    top:20px;
}

#nav li{
	margin: 0 0 15px 0;
}

#header, #intro, #second{
	width: 100%;
}

#intro{
	background-color:#19191f;
	color: white;
	height: 100%;
	margin: 0 auto;
	padding: 0;
}

#second{
	position: relative;
	color: white;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}

#second .background {
	background-image: url(img/background3.png);
}

#third{
	position: relative;
	overflow: hidden;
	height: 100%;
	color: white;
	padding: 0 0 0 0;
    margin: 0 auto;
	display: flex;
	align-items: center;
}

#third .background {
	background-image: url(img/background.png);
}

#fifth {
	position: relative;
	height: 100%;
	margin: 0 auto;
	padding: 0 0 0 0;
	overflow: hidden;
}

#fifth .background {
	background-image: url(img/footer.png);
}

#second > *:not(.background),
#third > *:not(.background),
#fifth > *:not(.background) {
	z-index: 5;
	position: relative;
}

.background {
	position: absolute;
	will-change: transform;
	top: 0;
	left: 0;
	width: 100%;
	height: 110vh;
	z-index: 1;
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-size: cover;
}

.story{
	margin: 0 auto;
	min-width: 980px;
	overflow: auto;
	width: 980px;
}

.story .float-left, .story .float-right{
	padding: 100px 0 0 0;
	position: relative;
	width: 350px;
}
